/* GOOGLE FONT */
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700&display=swap");

/* GOOGLE FONT */

/* INIT */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Heebo", sans-serif;
  background-color: var(--main-theme-bg);
}

li,
a {
  text-decoration: none;
}

li {
  list-style: none;
}

button,
input {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}

/* VARIABLES */

:root {
  /* Colors */
  --main-theme-bg: #f3f3f3;
  --main-theme-text: #21243d;

  --main-theme-dark: #01010a;

  --sec-theme-text: #00a8cc;
  --post-bg: #edf7fa;
  --post-bx-bg: #fff;

  --btn-bg: #ff6464;
  --btn-sec-bg: #142850;

  /* PAD */
  --btn-pd: 0.9rem 1.5rem;
}
/* VARIABLES */

/* UTILITY CLASSES */
.container-pd {
  padding: 0.9rem 3rem;
}

.container-pad {
  padding: 0.9rem 15rem;
}

/* UTILITY CLASSES */

/* nav section */
.nav-bar {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: none;
}

li:hover {
  font-weight: bold;
}

.nav-links li {
  display: inline;
  padding: 0 1rem;
  color: var(--main-theme-text);
}
/* nav section */

/* hero section */
.home-details {
  display: flex;
  background-color: var(--main-theme-bg);
}

.home-image {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 25rem;
}

.home-image .john {
  width: auto;
  margin-bottom: 20px;
}

.home-text h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.home-text p {
  line-height: 1.5rem;
}
/* hero section */

.download {
  background-color: var(--btn-bg);
  padding: 0.3rem;
  margin-top: 1rem;
  color: #fff;
}

/* SECTION TWO */

.section-2 {
  background-color: var(--post-bg);
}

/* post section */

.post {
  background-color: var(--post-bx-bg);
  margin-top: 1rem;
}

.bigbx {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: auto;
}

.box-content h3,
p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.box-content {
  margin-top: 0.5rem;
}

.box-content span {
  color: #21243d;
  margin-top: 2rem;
}

/* .box-content-2{
  width: 80%;
  margin-left: 100px;

}  */

.box-content-2 h3,
p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #21243d;
}

.box-content-2 span:first-child {
  display: flex;
  justify-content: end;
  margin: 0.7rem;
}

.box-content-2 span {
  color: #21243d;
}

.box-content-2 span a {
  color: var(--sec-theme-text);
}

/* post section */

/* DASHBOARD SECTION */
.works {
  margin-bottom: 1.5rem;
}

/* dashboard style section */

.dashboard {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  border-bottom: solid;
  border-color: #e0e0e0;
}

.dashboard-txt {
  display: grid;
}

.dashboard img {
  margin-bottom: 1.5rem;
}

.dashboard-des {
  display: flex;
  align-items: center;
}

.dashboard-txt .dashboard-des span:first-child {
  border-radius: 30px;
  background-color: var(--btn-sec-bg);
  padding: 5px 20px;
  margin-right: 10px;
  color: #fff;
}

span {
  color: #8695a4;
}

/* portrait style section */

.portrait {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  border-bottom: solid;
  border-color: #e0e0e0;
}

.portrait-txt {
  display: grid;
}

.portrait img {
  margin-bottom: 1.5rem;
}

.description {
  display: flex;
  align-items: center;
}

.portrait-txt .description span:first-child {
  border-radius: 20px;
  background-color: var(--btn-sec-bg);
  padding: 5px 20px;
  margin-right: 10px;
  color: #fff;
}

/* art style section */

.art {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  border-bottom: solid;
  border-color: #e0e0e0;
}

.art-txt {
  display: grid;
}

.art img {
  margin-bottom: 1.5rem;
}

.art-des {
  display: flex;
  align-items: center;
}

.art-txt .art-des span:first-child {
  border-radius: 20px;
  background-color: var(--btn-sec-bg);
  padding: 5px 20px;
  margin-right: 10px;
  color: #fff;
}

/* component style section */

.component {
  display: flex;
  gap: 1rem;
  border-bottom: solid;
  border-color: #e0e0e0;
}

/* .component-txt {
  display: grid;
} */

.component img {
  margin: 1rem;
}

.component-txt {
  display: grid;
}

.component-des {
  display: flex;
  align-items: center;
}

.component-txt .component-des span:first-child {
  border-radius: 20px;
  background-color: var(--btn-sec-bg);
  padding: 5px 20px;
  margin-right: 10px;
  color: #fff;
}

/* DASHBOARD SECTION */

/* BLOG SECTION */
.blog-1 {
  margin-bottom: 3rem;
  margin-top: 3rem;
  border-bottom: solid;
  border-color: #e0e0e0;
}

.blog-2 {
  margin-bottom: 3rem;
  margin-top: 3rem;
  border-bottom: solid;
  border-color: #e0e0e0;
}

.blog-3 {
  margin-bottom: 3rem;
  margin-top: 3rem;
  border-bottom: solid;
  border-color: #e0e0e0;
}

.blog-4 {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.blog p {
  margin-bottom: 1rem;
}

.blog h4 {
  font-size: 1.5rem;
}

/* BLOG SECTION */

/* DETAIL SECTION */

.detail-bx {
  text-align: start;
  justify-content: center;
  margin: auto;
}

.detail-bx .detail-des span:first-child {
  border-radius: 20px;
  background-color: var(--btn-bg);
  padding: 3px 10px;
  margin-right: 10px;
  color: #fff;
}

/* .det-bx {
  display: block;
} */

.detail-bx img {
  margin-bottom: 1.5rem;
}
.detail-bx p {
  margin-bottom: 2rem;
}
.detail-bx h3:first-child {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.detail-bx h2 {
  margin-bottom: 1rem;
}

/* DETAIL SECTION */

/* FOOTER SECTION */
.icons {
  font-size: 1.7rem;
  color: #21243d;
  text-align: center;
  margin: 0 auto;
  padding: 0.8em 1.2em;
}

.copyright {
  font-size: 10px;
  text-align: center;
  margin: 0 auto;
  margin-top: -50px;
  padding: 0.8em 1.2em;
}

/* FOOTER SECTION */



/* RESPONSIVE STYLE SECTION */
/* Iphone section */
@media only screen and (max-width: 700px) {
  /* homepage */

  .nav-links {
    display: none;
    padding: 0.9;
  }
.menu{
  display: block;
}

.menu i {
  font-size: 20px;
  border: none;
  margin-top: -4.5rem;
}


header ul.dropdown li {
  display: block;
  padding: 0.4rem;
  font-size: 10px;
}

header ul.dropdown {
  width: 80%;
  display: none;
  right: 20px;
}

.menu:hover {
  color: transparent;
  padding-right: 1rem;
}

.menu:hover ul {
  display: block;
}

.main-menu {
  display: none;
}
  .container-pd {
    padding: 0.8em 1.2em;
  }

  .container-pad {
    text-align: center;
    margin: 0 auto;
    padding: 0.8em 1.2em;
  }

  

  .container {
    justify-content: center;
    margin-inline: 20px;
    flex-direction: column;
    justify-content: center;
  }

  .home-image .john {
    width: auto;
    position: relative;
  }

  .download {
    width: 200px;
  }

  .menu {
    display: block;
  }

  .home-details {
    background-color: var(--main-theme-bg);
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    /* margin: 40px 20px; */
  }

  .home-text h3 {
    font-size: 15px;
    text-align: center;
    margin: auto;
    justify-content: center;
  }

  .home-text p {
    font-size: 10px;
    text-align: center;
    margin: auto;
  }

  .bigbx {
    display: block;
    text-align: center;
  }

  .post h3,
  span,
  p {
    font-size: 10px;
  }

  .bigbx .box-content-2 span:first-child {
    display: none;
  }

  .dashboard,
  h3,
  span {
    font-size: 10px;
  }

  .works {
    font-size: 10px;
    margin: 0;
    padding: 0;
  }

  .image-bx {
    display: block;
  }

  .dashboard {
    background-color: var(--main-theme-bg);
    flex-direction: column;
  }

  .dashboard-txt {
    text-align: justify;
  }

  .dashboard-txt h3 {
    margin-bottom: 1rem;
  }

  .dashboard-photo {
    width: 90%;
    align-items: center;
  }

  .detail-bx {
    display: flex;
    padding: 0rem;
    background-color: var(--main-theme-bg);
    flex-direction: column-reverse;
    margin: 40px 20px;
  }

  .component {
    background-color: var(--main-theme-bg);
    flex-direction: column;
  }

  /* .comp-img {
    width: 25rem;
  } */

  .component-txt h3 {
    margin-bottom: 1rem;
  }

  .portrait,
  .art {
    display: none;
  }

  .icons {
    font-size: 1.7rem;
    color: #21243d;
    text-align: center;
    margin: 0 auto;
    padding: 0.8em 1.2em;
  }

  .copyright {
    font-size: 1.5rem;
    color: #21243d;
    text-align: center;
    margin-top: -50px;
    margin:0 4rem;
    padding: 0.8em 1.2em;
  }

  /* homepage */

  /* blog */

  .blog {
    display: block;
    padding: 0;
  }

  .blog h3 {
    text-align: center;
  }

  /* blog */

  /* work */
  .container {
    text-align: center;
    margin: 0 auto;
    padding: 0.8em 1.2em;
  }

  .dboard-img {
    width: auto;
    margin-right: 420px;
    padding: 0;
  }

  .works {
    margin-right: 50rem;
    padding-bottom: 20px;
  }

  .component {
    margin: 0;
    display: flex;
  }

  .component-txt {
    text-align: start;
    display: block;
  }

  .comp-img {
    width: auto;
  }
  /* work */

  .detail-bx {
    display: block;
    margin: auto;
    margin-top: 50px;
  }

  .detail-bx h2,
  h3,
  p {
    text-align: justify;
    /* margin: auto; */
    display: block;
    justify-content: start;
  }

  .car,
  .teams,
  .schedule {
    width: 90%;
    display: block;
  }
}

/* Iphone section */
@media only screen and (max-width: 850px) {
  .home-image {
    width: 70%;
    flex-direction: column-reverse;
    margin: 1px 40px;
  }
}

/* Big Screen */
@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1800px) {
}
/* Big Screen */

/* RESPONSIVE STYLE SECTION */
